<% include header%>
<br>
<div class="container">
    <div class="row" >
            <div class="col">
                <h1>Clases de Zombies</h1>
            </div>
    </div>
</div>

<br>
<div class="container">
            <div class="row" >
                <div class="col">
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item"> <a class="links" href= "/recursos/zombies/Zombi2.jpg">Zombi Normal</a></li>
                    <li class="list-group-item"> <a class="links" href= "/recursos/zombies/Zb.jpg">Zombi Bufon</a></li>
                    <li class="list-group-item"> <a class="links" href= "/recursos/zombies/Zm.jpg">Zombi Momia</a></li>
                    <li class="list-group-item"> <a class="links" href= "/recursos/zombies/Zp.jpg">Zombi Pirata</a></li>
                    <li class="list-group-item"> <a class="links" href= "/recursos/zombies/Esplorador.jpg">Zombi Esplorador</a></li>
                    <li class="list-group-item"> <a class="links" href= "/recursos/zombies/d.jpg">Otros</a></li>
                    </ul>
                </div>
            </div>
        </div>

<% include footer%>