<% include header%>
<br>
<div class="container">
    <div class="row" >
        <div class="col">
        <h1>Tipos de armas para los Zombies</h1>
        </div>
    </div>
</div>

<br>

<div class="container">
            <div class="row" >
                <div class="col">
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item"> <a class="links" href= "/recursos/armas/Scar.jpg">Scar</a></li>
                    <li class="list-group-item"> <a class="links" href= "/recursos/armas/Pistola.jpg">Pistola</a></li>
                    <li class="list-group-item"> <a class="links" href= "/recursos/armas/LanzaGr.jpg">Lanza Granadas</a></li>
                    <li class="list-group-item"> <a class="links" href= "/recursos/armas/Franco.jpg">Franco</a></li>
                    <li class="list-group-item"> <a class="links" href= "/recursos/armas/Escopeta1.png">Escopeta</a></li>
                    <li class="list-group-item"> <a class="links" href= "/recursos/armas/Caza.png">Caza</a></li>
                    <li class="list-group-item"> <a class="links" href= "/recursos/armas/Bazuca.png">Bazuca</a></li>
                    </ul>
                </div>
            </div>
        </div>
<% include footer%>