<% include header%>
<br>
<div class="container">
            <div class="row" >
                <div class="col">
                    <div class="list-group">   
                        <table>
                        <tr>
                            <th>
                                <a href="/" class="list-group-item list-group-item-action active">
                                Victimas de los Zombies                             </a>
                            </th>
                        </tr> 
                            <tr>
                                <th>
                                <a class="list-group-item ">Nombre</a>
                                </th>
                                <th>
                                <a class="list-group-item ">Direccion</a>
                                </th>
                                <th>
                                <a class="list-group-item ">Telefono</a>
                                </th>
                                <th>
                                <a class="list-group-item ">Tipo de Sangre</a>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                <a class="list-group-item ">Jael Farid Deras</a>
                                </th>
                                <th>
                                <a class="list-group-item ">20 de noviembre</a>
                                </th>
                                <th>
                                <a class="list-group-item ">6181224918</a>
                                </th>
                                <th>
                                <a class="list-group-item ">+A</a>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                <a class="list-group-item ">Hugo reyes Gonzalez</a>
                                </th>
                                <th>
                                <a class="list-group-item ">eclipse 300</a>
                                </th>
                                <th>
                                <a class="list-group-item ">8143030</a>
                                </th>
                                <th>
                                <a class="list-group-item ">+0</a>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                <a class="list-group-item ">Andrea Ayala</a>
                                </th>
                                <th>
                                <a class="list-group-item ">eclipse 161</a>
                                </th>
                                <th>
                                <a class="list-group-item ">8142285</a>
                                </th>
                                <th>
                                <a class="list-group-item ">+B</a>
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
         </div>
<% include footer%>